on: [repository_dispatch, watch]

name: notion2hexo

jobs:
  notion:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        submodules: false

    - uses: mohuishou/notion-blog-actions@main
      with:
        notion_secret: ${{ secrets.NOTION_TOKEN }}
        database_id: "05fd4294d7474b1c800f67437400cca2"
        status_published: "published"
        status_unpublish: "unpublish"
        output: "./source/_posts/"
        access_key_id: "${{ secrets.ALI_ID }}"
        access_key_secret: "${{ secrets.ALI_SECRET }}"
        bucket: "oceanum"
        area: "oss-cn-chengdu"
        prefix: "image/"

    - name: git setting
      run: |
        git config --global user.email "yangruizhi4@outlook.com"
        git config --global user.name "Wisof-Young"

    - name: update blog
      run: |
        git add source
        git commit -m "feat: auto update by notion sync"
        git push
